@import "~tailwindcss/preflight";

@import "~tailwindcss/components";

@import "~tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    //background-image: linear-gradient(to top, #4f48ac 0%, #1d175e 100%);
    background: -webkit-radial-gradient(bottom, ellipse cover,  #4f48ac 0%,#1d175e 100%);
    background: -webkit-radial-gradient(ellipse at bottom,  #4f48ac 0%,#1d175e 100%);
    background: -webkit-radial-gradient(bottom, ellipse,  #4f48ac 0%,#1d175e 100%);
    background: radial-gradient(ellipse at bottom,   #4f48ac 0%,#1d175e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f48ac', endColorstr='#1d175e',GradientType=1 );
    font-family: 'Montserrat', sans-serif;
}
.btn-green-gradient{
    background-image: linear-gradient(.31deg,#3cac8a .7%,#5cceac 99.3%);
    text-shadow: 0 2px 4px rgba(0,0,0,.25);
    color:#fff;
}
.btn-green-gradient-outline{
    border: 1px solid #3cac8a ;
    color:#3cac8a;
}

.disabled-green-button{
    background-image: linear-gradient(.31deg, rgba(62, 207, 172, 0.49) .7%, rgba(93, 236, 202, 0.61) 99.3%);
    text-shadow: 0 2px 4px rgba(0,0,0,.25);
    color:#fff;
}
.btn-magenta{
    background-image: linear-gradient(.31deg, #ac44ac .7%, #ce00c3 99.3%);
    text-shadow: 0 2px 4px rgba(0,0,0,.25);
    color:#fff;
}

.stars.large {
    height: 3px;
    width: 3px;
    background: transparent;
    box-shadow: 1309px 414px #fff, 1024px 427px #fff, 1989px 1605px #fff, 1226px 463px #fff, 515px 779px #fff, 946px 1309px #fff, 402px 1921px #fff, 1491px 106px #fff, 68px 1455px #fff, 1104px 1432px #fff, 298px 720px #fff, 1345px 1541px #fff, 1764px 487px #fff, 120px 458px #fff, 1515px 101px #fff, 1536px 533px #fff, 1132px 277px #fff, 1197px 1488px #fff, 1666px 594px #fff, 1866px 1489px #fff, 1236px 199px #fff, 1692px 370px #fff, 368px 847px #fff, 1316px 408px #fff, 606px 38px #fff, 1429px 1548px #fff, 975px 655px #fff, 1140px 1557px #fff, 604px 459px #fff, 1925px 1280px #fff, 234px 78px #fff, 466px 784px #fff, 1907px 261px #fff, 166px 844px #fff, 279px 781px #fff, 1395px 1451px #fff, 1907px 1548px #fff, 1552px 1548px #fff, 1075px 1618px #fff, 1489px 519px #fff, 145px 1557px #fff, 1954px 709px #fff, 1353px 771px #fff, 1315px 1929px #fff, 1231px 1977px #fff, 662px 717px #fff, 513px 1562px #fff, 1957px 1645px #fff, 301px 1154px #fff, 1928px 1619px #fff, 1468px 938px #fff, 378px 1282px #fff, 432px 790px #fff, 1623px 695px #fff, 695px 493px #fff, 1986px 1727px #fff, 190px 795px #fff, 1102px 80px #fff, 210px 877px #fff, 22px 118px #fff, 1643px 1998px #fff, 1976px 161px #fff, 1317px 1168px #fff, 119px 1109px #fff, 1998px 1166px #fff, 287px 1663px #fff, 603px 1509px #fff, 1044px 1436px #fff, 549px 240px #fff, 1056px 1475px #fff, 84px 1933px #fff, 138px 1309px #fff, 1946px 1149px #fff, 1929px 1236px #fff, 466px 1723px #fff, 749px 1665px #fff, 524px 1768px #fff, 106px 1389px #fff, 1275px 126px #fff, 1513px 528px #fff, 1408px 1399px #fff, 630px 1871px #fff, 391px 1168px #fff, 487px 1047px #fff, 1200px 1285px #fff, 607px 760px #fff, 1347px 32px #fff, 1789px 1530px #fff, 121px 920px #fff, 1887px 1741px #fff, 145px 1178px #fff, 1236px 1587px #fff, 1118px 68px #fff, 359px 1991px #fff, 1734px 897px #fff, 1291px 1932px #fff, 1158px 1950px #fff, 1090px 1543px #fff, 1455px 464px #fff, 1589px 1290px #fff, 1390px 1287px #fff, 1898px 1036px #fff, 78px 1269px #fff, 1636px 1538px #fff, 161px 1820px #fff, 750px 305px #fff, 502px 822px #fff, 1427px 1470px #fff, 1540px 452px #fff, 1553px 259px #fff, 281px 1118px #fff, 760px 1214px #fff, 1217px 459px #fff, 5px 96px #fff, 1714px 33px #fff, 1728px 345px #fff, 1406px 219px #fff, 479px 849px #fff, 1557px 1841px #fff, 72px 910px #fff, 1639px 956px #fff, 328px 1088px #fff, 410px 495px #fff, 1623px 1438px #fff, 1654px 1935px #fff, 381px 604px #fff, 1482px 258px #fff, 1985px 1850px #fff, 123px 544px #fff, 854px 319px #fff, 1609px 1363px #fff, 405px 792px #fff, 1016px 763px #fff, 462px 1447px #fff, 1519px 1232px #fff, 1499px 635px #fff, 28px 512px #fff, 1477px 1314px #fff, 1523px 1570px #fff, 1457px 721px #fff, 1804px 1561px #fff, 281px 1946px #fff, 763px 342px #fff, 420px 397px #fff, 1106px 1466px #fff, 1223px 1913px #fff, 594px 884px #fff, 158px 1710px #fff, 867px 1336px #fff, 432px 1619px #fff, 249px 668px #fff, 786px 908px #fff, 1276px 353px #fff, 1387px 1638px #fff, 261px 484px #fff, 479px 458px #fff, 987px 28px #fff, 612px 356px #fff, 1383px 1416px #fff, 1154px 1972px #fff, 1630px 1787px #fff, 1031px 1647px #fff, 793px 280px #fff, 228px 239px #fff, 247px 1304px #fff, 1850px 1049px #fff, 333px 1448px #fff, 1286px 1567px #fff, 1486px 849px #fff, 1574px 767px #fff, 736px 1599px #fff, 1002px 1378px #fff, 752px 1387px #fff, 1749px 34px #fff, 1802px 492px #fff, 1023px 134px #fff, 1335px 1257px #fff, 512px 1914px #fff, 768px 1194px #fff, 1685px 1596px #fff, 875px 968px #fff, 1573px 369px #fff, 721px 1249px #fff, 285px 1564px #fff, 1680px 667px #fff, 12px 1934px #fff, 1247px 1495px #fff, 351px 1059px #fff, 1153px 548px #fff, 989px 1900px #fff, 1664px 1020px #fff, 413px 271px #fff, 1413px 157px #fff, 1623px 357px #fff, 1505px 219px #fff, 667px 110px #fff, 259px 1104px #fff, 1073px 684px #fff, 454px 1282px #fff, 48px 1858px #fff, 36px 75px #fff, 206px 1433px #fff, 182px 1691px #fff, 962px 269px #fff, 1577px 1760px #fff, 81px 218px #fff, 1445px 1803px #fff, 1719px 68px #fff, 422px 1417px #fff, 1362px 1644px #fff, 1386px 991px #fff, 1428px 1919px #fff, 1920px 905px #fff, 1767px 1156px #fff, 764px 1124px #fff, 149px 628px #fff, 1331px 717px #fff, 137px 627px #fff, 1708px 651px #fff, 1590px 1061px #fff, 1035px 129px #fff, 517px 1693px #fff, 197px 1552px #fff, 1506px 1944px #fff, 1097px 391px #fff, 305px 30px #fff, 252px 463px #fff, 83px 1234px #fff, 1035px 807px #fff, 288px 37px #fff, 1859px 1798px #fff, 910px 1769px #fff, 1610px 1767px #fff, 1206px 1830px #fff, 738px 188px #fff, 1230px 889px #fff, 1281px 1228px #fff, 52px 111px #fff, 64px 215px #fff, 1919px 1155px #fff, 597px 1088px #fff, 243px 1390px #fff, 1858px 491px #fff, 879px 1561px #fff, 166px 1792px #fff, 749px 1637px #fff, 320px 1658px #fff, 182px 1648px #fff, 1918px 1153px #fff, 1037px 252px #fff, 694px 923px #fff, 1670px 905px #fff, 1751px 1439px #fff, 128px 1177px #fff, 1557px 1502px #fff, 410px 638px #fff, 1221px 856px #fff, 816px 1163px #fff, 1416px 182px #fff, 1999px 1245px #fff, 478px 1674px #fff, 221px 1191px #fff, 828px 974px #fff, 350px 1538px #fff, 669px 1519px #fff, 680px 1114px #fff, 1420px 1502px #fff, 1482px 214px #fff, 489px 1071px #fff, 280px 1916px #fff, 1421px 1000px #fff, 1390px 840px #fff, 1671px 632px #fff, 952px 479px #fff, 301px 772px #fff, 1800px 586px #fff, 695px 1812px #fff, 1184px 1768px #fff, 692px 1039px #fff, 762px 1956px #fff, 385px 1908px #fff, 1432px 1695px #fff, 252px 17px #fff, 1856px 1469px #fff, 1665px 565px #fff, 118px 1338px #fff, 647px 983px #fff, 1943px 1462px #fff, 1803px 1973px #fff, 1400px 841px #fff, 76px 1019px #fff, 1004px 314px #fff, 368px 659px #fff, 622px 894px #fff, 1613px 777px #fff, 1419px 1974px #fff, 1964px 1899px #fff, 1727px 1659px #fff, 719px 845px #fff;
    -webkit-animation: blink-large 7s infinite;
    animation: blink-large 7s infinite;
}

