<template>
    <div>
        <label class="block text-grey-darker text-md font-bold mb-2" >
            Questions/comments
        </label>
        <textarea @input="commentsEntered" placeholder="Add a comment (optional)" class="bg-grey-lighter rounded leading-normal resize-none w-full h-32 py-2 px-3" v-model="formcomments"></textarea>
    </div>
</template>

<script>
    export default {
        name: "CommentsForm",
        props: ['comments'],
        data(){
            return {
                formcomments: this.comments
            }
        },
        methods: {
            commentsEntered(){
                this.$emit('update', {
                    comments: this.formcomments,
                    valid: true
                })
            }
        },
        mounted(){
            this.commentsEntered();
        }
    }
</script>

<style scoped>

</style>
