<template>
    <div class="bg-white shadow-lg w-full rounded-lg px-8 pt-6 pb-8 mb-4">

        <div class="mb-4" v-if="currentStepNumber === 1 && formIncomplete" >
            <NameForm @update="processStep" :name="form.name"></NameForm>
        </div>
        <div class="mb-6"  v-if="currentStepNumber === 2 && formIncomplete">
            <EmailForm @update="processStep" :emailAddress="form.email"></EmailForm>
        </div>
        <div class="mb-6"  v-if="currentStepNumber === 3 && formIncomplete">
            <PhoneForm @update="processStep" :phone="form.phone"></PhoneForm>
        </div>
        <div class="mb-6"  v-if="currentStepNumber === 4 && formIncomplete">
            <CommentsForm @update="processStep" :comments="form.comments"></CommentsForm>
        </div>
        <div class="clearfix">
            <button class="btn-green-gradient-outline py-4 px-6 float-right rounded-lg w-full focus:outline-none focus:shadow-outline mb-6"
                    type="button"
                    v-if="currentStepNumber > 1 && formIncomplete"
                    @click="goBack">
                <i class="far fa-hand-point-left"></i> PREVIOUS
            </button>
            <button class="btn-green-gradient py-4 px-6 float-right rounded-lg w-full"
                    :class="{'cursor-not-allowed disabled-green-button': !canGoNext}"
                    type="button"
                    v-if="currentStepNumber < 4 && formIncomplete"
                    @click="goNext"
                    >
                NEXT <i class="far fa-hand-point-right"></i>
            </button>
            <button class="btn-magenta py-4 px-6 float-right rounded-lg w-full"
                    type="button"
                    v-if="currentStepNumber === 4 && formIncomplete"
                    @click="formSubmit"
                    >
                <span v-if="!submitting">SUBMIT <i class="fas fa-trophy"></i></span>
                <span v-if="submitting"><i class="fas fa-spinner fa-spin"></i></span>
            </button>

            <div class="bg-indigo-darkest text-center py-4 lg:px-4" v-if="!formIncomplete">
                <div class="p-2 bg-indigo-darker items-center text-indigo-lightest leading-none lg:rounded-full flex lg:inline-flex" role="alert">
                    <span class="flex rounded-full bg-indigo uppercase px-2 py-1 text-xs font-bold mr-3">Success!</span>
                    <span class="font-semibold mr-2 text-left flex-auto">We have successfully received your submission!</span>
                </div>
            </div>
        </div>
        <div class="mt-6 shadow w-full bg-grey-light mt-2" v-if="formIncomplete">
            <div class="bg-teal text-xs leading-none py-1 text-center text-white" :style="`width: ${progress}%`"></div>
        </div>
        <!-- FOR DEBUGGING -->
        <!--<pre><code>{{form}}</code></pre>-->
        <!--<pre><code>{{canGoNext}}</code></pre>-->
    </div>



</template>

<script>
    import NameForm from './NameForm';
    import EmailForm from './EmailForm';
    import PhoneForm from './PhoneForm';
    import ContactForm from './ContactForm';
    import CommentsForm from "./CommentsForm";
    export default {
        name: "ContactForm",
        components: {
            CommentsForm, NameForm, EmailForm, PhoneForm, ContactForm
        },
        data () {
            return {
                currentStepNumber: 1,
                canGoNext: false,
                length: 4,
                submitting: false,
                formIncomplete: true,
                success: false,
                form: {
                    name: null,
                    email: null,
                    phone: null,
                    comments: null
                }
            }
        },
        computed: {
            progress (){
                return this.currentStepNumber/this.length * 100
            }
        },
        methods: {
            processStep(stepData){
                Object.assign(this.form, stepData);
                delete this.form.valid;
                if(stepData.valid){
                    this.canGoNext = true
                }

            },
            goBack(){
                this.currentStepNumber--;
            },
            goNext(){
                this.currentStepNumber++;
                this.canGoNext = false
            },
            formSubmit(){
                this.submitting = true;
                let vm = this;
                axios.post('contact-form-submit', {
                    "data" : this.form
                })
                .then(response => {
                    vm.submitting = false;
                    vm.formIncomplete = false;
                })
                .catch(error => {
                    console.log(error.response);
                    vm.submitting = false;
                });
            },
            viewAllSubmission(){
                let vm = this;
                axios.get('contact-form-submissions')
                    .then((data) => {
                        vm.submission = data.data;
                    })
            },
        },
    }
</script>

<style scoped>

</style>
