<template>
    <div>
        <label class="block text-grey-darker text-md font-bold mb-2">Email</label>
        <input @input="emailEntered"class="bg-grey-lighter rounded leading-normal resize-none w-full h-10 py-2 px-3" type="email" placeholder="elon@musk.io" v-model="emailAddress">
        <p v-if="!$v.emailAddress.required" class="text-red text-xs italic mt-1">Your email is required</p>
        <p v-if="!$v.emailAddress.email" class="text-red text-xs italic mt-1">That is not a valid email address</p>
    </div>
</template>

<script>
    import { required, email} from 'vuelidate/lib/validators'
    export default {
        name: "EmailForm",
        data(){
            return{
                emailAddress: null
            }
        },
        validations: {
            emailAddress: {
                required,
                email
            }
        },
        methods: {
            emailEntered(){
                this.$emit('update', {
                    email: this.emailAddress,
                    valid: !this.$v.$invalid
                })
            }
        }
    }
</script>

<style scoped>

</style>
