<template>
    <div>
        <label class="block text-grey-darker text-md font-bold mb-2" >Name</label>
        <input @input="nameEntered" class="bg-grey-lighter rounded leading-normal resize-none w-full h-10 py-2 px-3"  type="text" placeholder="Elon Musk" v-model="name">
        <p v-if="!$v.name.required" class="text-red text-xs italic mt-1">Your name is required</p>
        <p v-if="!$v.name.minLength" class="text-red text-xs italic mt-1">Your name must be greater than 3 characters</p>
    </div>
</template>

<script>
    import { required, minLength } from 'vuelidate/lib/validators'
    export default {
        name: "NameForm",
        data(){
            return {
                name: null,
            }
        },
        validations: {
            name: {
                required,
                minLength: minLength(3)
            }
        },
        methods: {
            nameEntered(){
                this.$emit('update', {
                    name: this.name,
                    valid: !this.$v.$invalid
                })
            }
        }
    }
</script>

<style scoped>

</style>
