<template>
    <div>
        <label class="block text-grey-darker text-md font-bold mb-2" >Phone</label>
        <input @input="phoneEnetered" class="bg-grey-lighter rounded leading-normal resize-none w-full h-12 py-2 px-3"  type="tel" v-model="phone">
        <p v-if="!$v.phone.required" class="text-red text-xs italic mt-1">Your phone number is required</p>
        <p v-if="!$v.phone.minLength" class="text-red text-xs italic mt-1">Your phone number must be greater than 10 characters</p>
        <p v-if="!$v.phone.numeric" class="text-red text-xs italic mt-1">Please do not include any special characters, numbers only</p>
    </div>
</template>

<script>
    import { required, minLength, numeric } from 'vuelidate/lib/validators'
    export default {
        name: "PhoneForm",
        data(){
            return {
                phone: null
            }
        },
        validations: {
            phone: {
                required,
                minLength: minLength(10),
                numeric

            }
        },
        methods: {
            phoneEnetered(){
                this.$emit('update', {
                    phone: this.phone,
                    valid: !this.$v.$invalid
                })
            }
        }
    }
</script>

<style scoped>

</style>
